div{
	width: 800px;
	margin: 0 auto;
}
div img{
	margin: 20px;
	border: 5px solid #eee;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	width: 200px;
	transition: 0.5s;
}
div img:hover{
	transform: rotate(-7deg);
	width: 250px;
}
div img.rotation360:hover{
	transform: rotate(-360deg);
}








