/*----------------------------------------------GRILLE----------------------------------------*/
body{margin:0;}

* {
	font-family: sans-serif;
	box-sizing: content-box;
	}


.col-1{width: 8.33%; float:left;}
.col-2{width: 16.66%; float:left;}
.col-3{width: 24.99%; float:left;}
.col-4{width: 33.32%; float:left;}
.col-5{width: 41.65%; float:left;}
.col-6{width: 49.98%; float:left;}
.col-7{width: 58.31%; float:left;}
.col-8{width: 66.64%; float:left;}
.col-9{width: 74.97%; float:left;}
.col-10{width: 83.3%; float:left;}
.col-11{width: 91.63%; float:left;}
.col-12{width: 100%; float:left;}

.col-marge-1{margin-left: 8.33%;}
.col-marge-2{margin-left: 16.66%;}
.col-marge-3{margin-left: 24.99%;}
.col-marge-4{margin-left: 33.32%;}
.col-marge-5{margin-left: 41.65%;}
.col-marge-6{margin-left: 49.98%;}
.col-marge-7{margin-left: 58.31%;}
.col-marge-8{margin-left: 66.64%;}
.col-marge-9{margin-left: 74.97%;}
.col-marge-10{margin-left: 83.3%;}
.col-marge-11{margin-left: 91.63%;}

.clear{clear: both;}

/************************************STRUCTURE***********************************************/

.conteneur{
	margin: 0 auto;
	max-width: 1200px;
	/* min-height: 800px; */
	border: 1px solid;
}

/************************************HEADER***********************************************/

header{
	height: 120px;
}

header .p2{
}

.header_gauche{
	padding:10px;
	font-style:italic;
}

.header_gauche div.col-9{
	font-size: 3em;
}

div.header_gauche div.col-9 p.p1{
	font-size:.3em;
	color:fuchsia;
}

div.col-4 div.col-3 img{
	width:60px;
}

.header_centre{
	padding:10px;
}

.header_centre p.p1{
	color:#3B5998;
}

.header_centre p.p2{
	font-style:italic;
	color:grey;
}

.header_droite{
	padding:10px;
}

.header_droite .col-9{
	float:right;
}

.header_droite .col-9 .bloc1{
	background-color:#3B5998;
	text-align:center;
}

/********************************************NAVIGATION**************************************/

nav{
	background-color:#3B5998;
	width:100%;
	height: 40px;
}

nav div.col-2{
	text-align:center;
	color: white;
	padding-top:8px;
}

nav div.col-2 a{
}

nav div.col-2:hover{
	background-color:fuchsia;
}

/********************************************SECTION 1**************************************/

.section_1 img{
	width:1200px;
}

/********************************************SECTION 2**************************************/

.section_2{
	height: 250px;
	overflow: hidden;
	font-size:.9em;
	border: none;
}

.section_2 div.col-3{
}

.section_2 h4{
	color:#3B5998;
}

.section_2 div.col_6{
}

.section_2 div.col-2.case_gauche{
	padding-left: 20px;
}

.section_2 div.col-2.case_gauche p{
	width:80%;
}


.section_2 div.col-2.case_droite{

}

.section_2 div.col-2.case_droite p{
	width:50%;
}

.bordure{
	height:5%;
	float:left;
	padding-top: 20px;
	padding-right: 10px;
}


/********************************************SECTION 3**************************************/

section.section_3{
	margin-bottom:30px;
}

div.col-4.case_gauche{
	width: 370px;
	border: 1px solid;
	border-radius: 10px;
	overflow:hidden;
	width: 350px;
	margin-left:20px;
}

div.col-4.case_centre{
	width: 370px;
	border: 1px solid;
	border-radius: 10px;
	overflow:hidden;
	margin-right:30px;
	margin-left:30px;
}

div.col-4.case_droite{
	width: 370px;
	border: 1px solid;
	border-radius: 10px;
	overflow:hidden;
}

.section_3 a{
	text-align:right;
}


div.col-4 h4{
	background: grey;
	text-align:center;
	margin-top:0;
}


div.col-4. img{
}


/********************************************FOOTER*************************************/

footer{
	margin: 0 auto;
	height: 40px;
	background-color:#3B5998;
	text-align: center;
	color:white;
	padding-top:10px;
	padding-left:100px;
}

footer a{
	text-decoration:none;
	color:white;
	float:left;
	list-style-type:none;
	padding-left:5px;
	padding-right:10px;
}

















































