table{
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
	height: 100px;
}
th{
	background: #f40c80;
	color: #fff;
}
td, th{
	padding: 7px;
	text-align: center;
	border: 1px solid #000;
}