
header{
	height: 150px;
	width: 900px;
}
.conteneur{
	height: 1200px;
	width:900px;
	border: 2px solid;
	box-shadow: 6px 6px 6px black;
}
h1{
	display: inline;
	float left;
}
h2{
	 display: inline;
	 color: blue;
	 padding-left: 180px;
}
.imagenumero{
	text-align: center;
	color: blue;
	background-repeat:no-repeat;
	background-position:center center;
}

.col-md-2{
	display: inline;
	padding: 0;
	width: 200px;
}

section{
	height: 666px;
	width: 900px;
}
































.clear{
	clear: both;
}





.col-1{ width: 8.33%; float: left; }
.col-2{ width: 16.66%; float: left; }
.col-3{ width: 24.99%; float: left; }
.col-4{ width: 33.32%; float: left; }
.col-5{ width: 41.65%; float: left; }
.col-6{ width: 49.98%; float: left; }
.col-7{ width: 58.31%; float: left; }
.col-8{ width: 66.64%; float: left; }
.col-9{ width: 74.97%; float: left; }
.col-10{ width: 83.3%; float: left; }
.col-10{ width: 91.63%; float: left; }
.col-12{ width: 100%; float: left; }




.col-marge-1{ margin-left: 8.33%; }
.col-marge-2{ margin-left: 16.66%; }
.col-marge-3{ margin-left: 24.99%; }
.col-marge-4{ margin-left: 33.32%; }
.col-marge-5{ margin-left: 41.65%; }
.col-marge-6{ margin-left: 49.98%; }
.col-marge-7{ margin-left: 58.31%; }
.col-marge-8{ margin-left: 66.64%; }
.col-marge-9{ margin-left: 74.97%; }
.col-marge-10{ margin-left: 83.3%; }
.col-marge-11{ margin-left: 91.63%; }