
/********************* GENERAL *********************/

.col-1{width: 8.33%; float:left;}
.col-2{width: 16.66%; float:left;}
.col-3{width: 24.99%; float:left;}
.col-4{width: 33.32%; float:left;}
.col-5{width: 41.65%; float:left;}
.col-6{width: 49.98%; float:left;}
.col-7{width: 58.31%; float:left;}
.col-8{width: 66.64%; float:left;}
.col-9{width: 74.97%; float:left;}
.col-10{width: 83.3%; float:left;}
.col-11{width: 91.63%; float:left;}
.col-12{width: 100%; float:left;}

.col-marge-1{margin-left: 8.33%;}
.col-marge-2{margin-left: 16.66%;}
.col-marge-3{margin-left: 24.99%;}
.col-marge-4{margin-left: 33.32%;}
.col-marge-5{margin-left: 41.65%;}
.col-marge-6{margin-left: 49.98%;}
.col-marge-7{margin-left: 58.31%;}
.col-marge-8{margin-left: 66.64%;}
.col-marge-9{margin-left: 74.97%;}
.col-marge-10{margin-left: 83.33%;}
.col-marge-11{margin-left: 91.63%;}

.grid-1{width: 12.5%; float:left;}
.grid-2{width: 25%; float:left;}
.grid-3{width: 37.5%; float:left;}
.grid-4{width: 50%; float:left;}
.grid-5{width: 62.5%; float:left;}
.grid-6{width: 75%; float:left;}
.grid-7{width: 87.5%; float:left;}
.grid-8{width: 100%; float:left;}

*{
	font-family: sans-serif;
}

body{
	padding: 0;
	margin: 0;
}
.conteneur{
	max-width: 1000px;
	margin: 0 auto;
}
.conteneur2{
	max-width: 1000px;
	margin: 10px auto;
}
.conteneur3{
	max-width: 1000px;
	margin: 10px auto;
}

/********************* TEXTE COLOR / SIZE *********************/
.DodgerBlue{
	color: DodgerBlue;
}
.txtwhite{
	color: white;
}

.txtblack{
	color: black;
}

.grey{
	color: grey;
}
.pink{
	color: deeppink;
}

.pinkb{
	background-color: deeppink;
}
.greyb{
	background-color: grey;
}

.em2{
	font-size: 2em;
}
.em0.8{
	font-size: .8em;
}

.em0.2{
	font-size: .2em;
}

.txtcenter{
	text-align: center;
}

.italic{
	font-style: italic;
}
.borderr{
	border-right: 1px solid;
}

.borderl{
	border-left: 1px solid
}
.bold{
	font-weight: bold;
}


/********************* HEADER *********************/

.mc{
	background-color: DodgerBlue;
	color: white;
}
.borderb{
	border-bottom: 1px solid;
}

/********************* NAVIGATION *********************/

nav div div{
	float: left;
	list-style-type: none;
	background-color: DodgerBlue;
	min-height: 40px;
	text-align: center;
}

div a, div a:hover, div a:focus, div a:active{
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

/********************* SECTION1 *********************/

img { 
	max-width: 100%;
}

.cadre{
	border-radius: 10%;
}

.section1{
	font-size : 1.2em;
	color: DodgerBlue;
}
.section2{
	padding-right: 20px;
}
/********************* FOOTER *********************/

footer{
	background-color: DodgerBlue;
	font-size: .8em;
	color: white;
	padding: 20px 25px;
}
footer div ul li{
	float: left;
	list-style-type: none;
	background-color: DodgerBlue;
	text-align: center;
}

footer a, footer a:hover, footer a:focus, footer a:active{
	text-decoration: none;
	color: black;
	border-radius: 10px;
}

.clear{	clear: both}
